@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
body {
  font-family: 'Times New Roman', Times, serif ;
}

.topnav-right {
  float: right;
  margin-left: 100px:
}

header,
section {
    overflow-x: hidden;
}
:root {
  --Sniglet-font: "Times New Roman", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #766ad2, #c9c0ed);
  --light-gray: rgba(255, 255, 255, 0.877);
}

header a {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: Black;
}
html,
section #services {
    text-align: center;
    transform: translatez(0);
}
header .nav-item {
padding: 0em;
 }      

header .row .col-sm-12 {
padding: 11vmin 1vmin;
padding-bottom: 35vmin;
}
      
header .row .col-md-5 {
padding: 1vmin 1vmin;
}
      
header {
background: #ff512f;
background: #AAE0ED;
}
      
header .container .col-sm-12 {
font-family: "Rubik", sans-serif;
}
      
header .container .col-sm-12 h6 {
padding: 1vmin;
letter-spacing:  4px;
}
header .container-fluid  {
  padding: 1vmin;
  letter-spacing: 5px;
  text-align: center;
  }
      
header .container .col-sm-12 h1 {
font-size: 11.5vmin;
font-weight: bold;
}
      
header .container .col-sm-12 p {
padding: 1vmin 5vmin;
color: Black;
font-size: 2.5vmin;
}
      
.primary-btn {
 border-radius: 30px;
 font-weight: bold;
}

footer {
    background: black;
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}
header .container .select-box {
  height: 10px;
  width: 1000px;
  flex-direction: column;
padding-left: 300px;

}
header .container .select-box{
  text-align: center;
}
header .container .select-box .options-container {
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
}

header .container .selected {
  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

  order: 0;
}

header .container .selected::after {
  content: "";
  background: url("img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

header .container .select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
  margin-top: 54px;
}

header .container .select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

header .container .select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

header .container .select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

header .container .select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

header .container .select-box .option:hover {
  background: #414b57;
}

header .container .select-box label {
  cursor: pointer;
}

header .container .select-box .option .radio {
  display: none;
}

/* Searchbox */

header .container.search-box input {
  width: 400px;
  padding: 300px 16px;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  position: absolute;
  border-radius: 8px 17px 0 0;
  z-index: 100;
  border: 8px solid #f9e5ff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;

  
}

header .container.search-box input:focus {
  outline: none;
}

header .container .select-box .options-container.active ~ .search-box input {
  opacity: 3;
  pointer-events: auto;
}
.con {
  margin-top: 100px;
  padding: 32px;
}

.padding {
  padding: 20px 20px 20px 20px;
  width: relative;
}

.submit_button {
    background: #2f3640;
    border-radius: 15px;
    
    width: 100px;
    color: #f5f6fa;
    position: relative;
    order: 0;
    
    cursor: pointer;
  
}



/* Dropdown Button */
.dropbtn {
  background-color: #2f3640;
  color: white;
  padding: 10px;
  font-size: 19px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #6559c0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
    background: #2f3640;
    border-radius: 19px;
    color: #f5f6fa;
    order: 0;
    width: auto;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 194px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #2f3644;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}


.show {display:block;}

.section1{
blackground: black;
}

@import "compass/css3";

/*I just made this background and wanted to save it here*/
$colour:hsla(350,100%,25%,1);
$grey:desaturate($colour,90%);
body {
  background:lighten($grey,30%);
    background-image:
    linear-gradient(40deg,transparentize($grey,0.95),transparentize($colour,0.95)),

    linear-gradient(135deg,
        lighten($grey,18%) 0%,
        lighten($grey,18%) 10%,
        lighten($grey,25%) 11%,
        lighten($grey,25%) 40%,
        lighten($grey,35%) 41%,
        lighten($grey,35%) 50%,
        lighten($grey,18%) 51%,
        lighten($grey,18%) 60%,
        lighten($grey,25%) 61%,
        lighten($grey,25%) 90%,
        lighten($grey,35%) 91%)
    ;
    background-size:7px 7px, 4px 4px;
}


buttu {
  outline:none;
  height: 200;
  width: 200;
  font-family:'helvetica neue' sans-serif; font-size:2em;
  color:hsla(350,0%,100%,1); text-shadow:-1px -1px 1px hsla(350,0%,0%,0.7), 1px 1px 1px hsla(350,0%,100%,0.3);
  display:block; margin:2em auto; padding:23px 37px 25px 35px;
  cursor:pointer;
  background-color:hsla(350,80%,10%,1);
  background-image:
    linear-gradient(273deg,hsla(350,80%,60%,1) 30%, hsla(350,80%,50%,1) 40%)
  ;
  border:none; border-radius:16px;
  box-shadow:
    inset 0px 0px 1px 1px hsla(350,80%,30%,0.9),
    inset 0px 0px 2px 3px hsla(350,80%,50%,0.9),
    inset 1px 1px 1px 4px hsla(350,80%,100%,0.8),
    inset 0px 0px 2px 7px hsla(350,80%,60%,0.8),
    inset 0px 0px 4px 10px hsla(350,80%,50%,0.9),
    8px 10px 2px 6px hsla(350,80%,20%,0.55),
    0px 0px 3px 2px hsla(350,80%,40%,0.9),
    0px 0px 2px 6px hsla(350,80%,50%,0.9),
    /*0px 0px 2px 3px hsla(350,80%,60%,0.9),*/
    -1px -1px 1px 6px hsla(350,80%,100%,0.9),
    /*0px 0px 2px 8px hsla(350,80%,60%,0.9),*/
    0px 0px 2px 11px hsla(350,80%,50%,0.9),
    0px 0px 1px 12px hsla(350,80%,40%,0.9),
    1px 3px 14px 14px hsla(350,80%,0%,0.4)
  ;
}

buttu:active {
  height: 200;
  width: 200;
  color:hsla(350,0%,85%,1); padding:26px 34px 22px 38px;
  
  background-image:
    linear-gradient(273deg,hsla(350,80%,50%,1) 50%, hsla(350,80%,55%,1) 60%)
  ;
  box-shadow:
    inset 3px 4px 3px 2px hsla(350,80%,20%,0.55),
    inset 0px 0px 1px 1px hsla(350,80%,30%,0.9),
    inset -1px -1px 2px 3px hsla(350,80%,50%,0.9),
    inset -2px -2px 1px 3px hsla(350,80%,100%,0.8),
    inset 0px 0px 2px 7px hsla(350,80%,60%,0.8),
    inset 0px 0px 3px 10px hsla(350,80%,50%,0.9),
    
    0px 0px 3px 2px hsla(350,80%,40%,0.9),
    0px 0px 2px 6px hsla(350,80%,50%,0.9),
    /*0px 0px 2px 3px hsla(350,80%,60%,0.9),*/
    -1px -1px 1px 6px hsla(350,80%,100%,0.9),
    /*0px 0px 2px 8px hsla(350,80%,60%,0.9),*/
    0px 0px 2px 11px hsla(350,80%,50%,0.9),
    0px 0px 1px 12px hsla(350,80%,40%,0.9),
    1px 3px 14px 14px hsla(350,80%,0%,0.4)
  ;
}